

 html {
    font-size: calc(1em + 0.4vw);
    font-family:monospace;
    margin:0px;
    width:100vw;
    height:100vh;
     }

body{
   width:100vw;
    margin:0;
    padding:0px;
    overflow-x:hidden;
    height:100vh;
    overflow-y: scroll;
    z-index:2;
    
  }  



#main{
    background-image:url("rick-morty.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    position: relative;
    background-size:cover;
    margin-bottom:0px;
    padding-bottom:50px;

}

#front-title {
    text-align:center;
    width:70vw;
    color:white;
    margin-left:15vw;
    margin-right:15vw;
    padding-top:50px;


}

#front-title h2 {
    font-size:180%;
    color:#69c8ecff;
    text-shadow:4px 4px #FAFD7cff;
    font-family:cursive;
    font-size:3vw;
}

#front-title p{
    font-family:Arial, Helvetica, sans-serif;
    color:#e762d7ff;
    text-shadow:2px 2px #e89242ff;
}

form{
    background:rgba(23,23,74,0.7);
    border-color:rgba(23,23,74,0.7);
    width:70vw;
    margin-left:15vw;
    margin-right:15vw;
    color:white;
    font-family:Arial, Helvetica, sans-serif;

    }
fieldset{
    border-color:rgba(23,23,74,0.7);
    padding-left:50px;
    }
input[type=text]{
    width:50vw;
    height:45px;
    border-radius:5px;

    }
input,textarea{
font-size:20px;
}

label
{ display:block;
margin:3px;
}

select{
    width:50vw;
    height:40px;
    border-radius:5px;
    font-size:18px;
    }
    
input[type=radio]{
height:20px;
width:20px;
vertical-align:middle;
transform:translate(0,-2px);

    }
    
input[type=checkbox] {
    height:20px;
width:20px;
vertical-align:middle;
    }
textarea{
width:50vw;
height:120px;
}

input[type=submit]
{
    width:50vw;
    height:40px;
    margin-top:20px;
    background-color:#50c878;
    border-color:#50c878;
    border-radius:5px;

}